	## Project static
/public/assets/*
/public_html/assets/*
/node_modules/*
/vendor/*
config.php
gulpconfig.js
.bash_history
.cache
.gitconfig
access_log
error_log

## OS or IDE files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.idea
ehthumbs.db
Thumbs.db
