*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
}

.link {
    text-decoration: none;
    outline: none;
    color: inherit;
}

.button--clear {
    border: none;
    background: none;
}

.button--clear:focus {
    outline: none;
}

.close--button {
    display: block;
    width: 49px;
    height: 49px;
    opacity: 0.5;
}

.close--button:hover {
    opacity: 1;
}

.close--button:before, .close--button:after {
    position: absolute;
    content: ' ';
    height: 55px;
    width: 5px;
}

.close--button:before {
    transform: rotate(45deg);
}

.close--button:after {
    transform: rotate(-45deg);
}

.social-bar__social-icon, i {
    margin: auto;
}

.drop-shadow-filter {
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px lightgrey);
}

.body {
    font-family: "Verdana", serif;
    font-size: 16px;
    line-height: 30px;
    color: white;
    background-color: white;
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1800px;
    min-width: 350px;
    margin: auto;
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: none;
}

.home-header .header-container {
    height: auto;
    background: url('../images/header_arbeitgeber.jpg') center center;
    background-size: cover;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 110px;
}

.logo-container__mgm-logo {
    width: 20%;
    height: 7vw;
    max-height: 100px;
    margin: 15px auto auto 15px;
    background: url('../images/logo/logo_mgm_rgb_weiss2-01.svg');
    background-size: 100% 100%;
}

.logo-container__telephone-box {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100px;
    margin: 0 15px auto auto;
}

.telephone-box__telephone-number {
    display: flex;
    height: 50px;
}

.telephone-number__text {
    display: flex;
    height: 50px;
    margin: 10px auto auto auto;
    font-size: 2.7vw;
    color: #4e4e4e;
}

.home-header .telephone-number__text {
    color: white;
}

.telephone-number__text:hover {
    opacity: 0.5;
}

.telephone-box__social-bar {
    display: flex;
    justify-content: space-between;
}

.social-bar__social-icon {
    width: 50px;
    height: 50px;
    display: flex;
    color: #4e4e4e;
    font-size: 2.8vw;
}

.home-header .social-bar__social-icon {
    color: white;
}

.social-bar__social-icon:hover {
    opacity: 0.5;
}

.navigation-container {
    display: flex;
    width: 100%;
    height: 90px;
}

.home-header .navigation-container {
    height: 70px;
}

.navigation-container__menu-icon {
    position: absolute;
    display: none;
    left: 40%;
    width: 110px;
    height: 50px;
    cursor: pointer;
}

.menu-icon__burger-menu {
    width: 40px;
    height: 40px;
    margin: auto;
}

.menu-icon__menu-text {
    margin: auto;
    font-size: 20px;
    color: #51d000;
}

.navigation-container__navigation-menu {
    display: flex;
    width: 80%;
    height: 50px;
    margin: auto auto 20px auto;
}

.home-header .navigation-container__navigation-menu {
    margin: auto auto 0 auto;
}

.navigation-menu__close-button-container {
    display: none;
}

.navigation-menu__menu-button {
    display: flex;
    width: 24%;
    height: 100%;
    border-radius: 5px;
    margin: auto;
    background-image: linear-gradient(#51d000 35%, #3c9a04 60%, #51d000 100%);
    color: white;
    cursor: pointer;
}

.navigation-menu__menu-button:hover {
    background-image: linear-gradient(#ffffff 30%, #e6e5e5 60%, #ffffff 100%);
    color: #51d000;
}

.navigation-menu__menu-button:hover .menu-button__menu-link {
    filter: none;
}

.menu-button__menu-link {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 1.4vw;
    font-weight: 500;
    white-space: normal;
}

.menu-link__text {
    margin: auto;
}

.content-container {
    display: flex;
    width: 100%;
    height: 480px;
}

.content-container__description-box {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 450px;
    margin: auto;
}

.description-box__description-title {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 70%;
    margin: auto;
}

.description-title__title-text {
    width: 90%;
    margin: auto auto 10px auto;
    text-align: center;
}

.description-title__text {
    margin: 10px auto auto auto;
    font-size: 24px;
    text-align: center;
}

.description-box__profile-button {
    width: 320px;
    height: 50px;
    margin: auto;
}

.profile-button__profile-link {
    display: flex;
    width: 100%;
    height: 50px;
}

.orange-button--text {
    margin: auto;
    font-size: 22px;
    color: white;
}

.orange--button {
    border-radius: 10px;
    background-image: linear-gradient(#fd551d 30%, #ce0101 60%, #fd551d 100%);
}

.orange--button:hover {
    background-image: linear-gradient(#ffffff 30%, #c3c3c3 60%, #ffffff 100%);
}

.orange--button:hover .orange-button--text {
    color: #fd551d;
}

.content-container__form-box {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 400px;
    margin: auto;
}

.form-box__contactus-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin: auto;
    background-image: linear-gradient(RGBA(80, 197, 235, 0.6), RGBA(0, 79, 155, 0.6));
    border-radius: 15px;
}

.contuctus-form__form-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 18%;
    margin: auto;
    border-radius: 10px;
}

.contuctus-form__form-item:first-child {
    width: 90%;
    height: 30%;
}

.contuctus-form__form-item:first-child {
    height: 25%;
}

.form-item__title {
    font-size: 20px;
    color: white;
    margin: auto;
}

.form-item__text {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: white;
}

.form-item__form-label {
    height: 50%;
    font-size: 16px;
    color: white;
}

.form-item__form-input {
    width: 100%;
    height: 50%;
    font-size: 16px;
    border-radius: 5px;
}

.contuctus-form__form-button {
    width: 70%;
    height: 50px;
    margin: auto;
}

.form-button__input {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    color: #4e4e4e;
}

.main-container__main-title {
    display: flex;
    width: 100%;
    height: 100px;
}

.main-title__title-container {
    display: flex;
    width: 98%;
    height: 90%;
    margin: 10px auto;
    border-top: 2px solid #50c5eb;
    border-bottom: 2px solid #50c5eb;
    border-radius: 0;
}

.home-header .main-title__title-container {
    border: none;
    border-radius: 10px;
}

.title-container__text {
    margin: auto;
    font-size: 3.5vw;
}

.main-container__main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.main-content__content-container {
    width: 80%;
    margin: 20px auto;
}

.home-header .main-container__main-content {
    height: 1200px;
}

.main-content__content-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: 0.3s ease-out;
}

.main-item--border {
    border: 4px solid RGBA(80, 197, 235, 0.7);
    border-radius: 7px;
    border-bottom-color: RGBA(0, 79, 155, 0.7);
    border-right-color: RGBA(0, 79, 155, 0.7);
}

.block--vacancy {
    width: 47%;
    height: 23%;
    margin-left: 10px;
    position: relative;
    left: -1000px;
}

.block--demands {
    width: 47%;
    height: 23%;
    margin-right: 10px;
    position: relative;
    left: -1000px;
}

.block--providing {
    width: 68%;
    height: 43%;
    position: relative;
    left: -1000px;
    transition: 0.3s ease-out 0.1s;
}

.block--social {
    width: 28%;
    height: 43%;
    position: relative;
    left: -1000px;
}

.block--conditions {
    width: 57%;
    height: 28%;
    margin-left: 10px;
    position: relative;
    left: -1000px;
    transition: 0.3s ease-out 0.1s;
}

.block--documents {
    width: 37%;
    height: 28%;
    margin-right: 10px;
    position: relative;
    left: -1000px;
}

.come--back {
    left: 0;
}

.content-item__item-box {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 1% 0;
    background-image: linear-gradient(155deg, RGBA(80, 197, 235, 0.05), RGBA(0, 79, 155, 0.05));
}

.item-box__content {
    margin: auto;
    text-align: center;
}

.item--title {
    font-size: 18px;
}

.title--box {
    border: 4px solid RGBA(81, 208, 0, 0.7);
    border-bottom-color: RGBA(8, 169, 72, 0.7);
    border-right-color: RGBA(8, 169, 72, 0.7);
    background-image: linear-gradient(155deg, RGBA(81, 208, 0, 0.2), RGBA(8, 169, 72, 0.2));
}

.providing-title--box {
    line-height: 18px;
}

.vacancy--box {
    height: 24%;
}

.demands--box {
    height: 24%;
}

.providing--box {
    height: 22%;
}

.providing--box:nth-child(2) {
    height: 15%;
}

.providing--box:nth-child(5) {
    height: 19%;
}

.providing--box:last-child {
    height: 11%;
}

.social--box {
    height: 13%;
}

.conditions--box {
    height: 18%;
}

.documents--box {
    height: 14%;
}

.main-container__main-photo-gallary {
    display: flex;
    width: 100%;
    height: 60vw;
    border-top: 2px solid;
    border-top-color: RGBA(80, 197, 235, 0.7);
}

.main-photo-gallary__gallery-container {
    display: flex;
    width: 60%;
    height: 65%;
    margin: auto auto auto 3%;
    border: 4px solid RGBA(80, 197, 235, 0.7);
    border-radius: 10px;
    border-bottom-color: RGBA(0, 79, 155, 0.7);
    border-right-color: RGBA(0, 79, 155, 0.7);
}

.gallery-container__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.gallery-container__gallery-button {
    position: relative;
    height: 38.5vw;
    width: 50px;
    background: rgba(78, 78, 78, 0.5);
    opacity: 0.8;
}

.gallery-button--left {
    margin-right: -50px;
}

.gallery-button--right {
    margin-left: -50px;
}

.button-svg--parameters {
    width: 35px;
    height: 70px;
    z-index: 5;
}

.main-photo-gallary__gallery-title {
    display: flex;
    margin: auto 15px;
}

.gallery-title__text {
    margin: auto;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-image: linear-gradient(#4e4e4e 40%, #3a3939 60%, #0c0c0c 95%);
}

.footer-container__footer-item {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.footer-item__footer-contacts {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.footer-contacts--block {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.block--item {
    margin: auto;
    font-size: 18px;
    color: white;
}

.footer-contacts__footer-social {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.footer-social__social-icon {
    width: 50px;
}

.footer--link {
    height: 50px;
    font-size: 22px;
}

.footer--link:hover {
    opacity: 0.5;
}

.footer-item__logo {
    width: 60%;
    height: auto;
    margin: auto;
    /*background: url('../images/logo/logo_mgm_rgb_weiss2-01.svg');*/
    /*background-size: 100% 100%;*/
}

.footer-item__logo img {
    width: 100%;
    height: auto;
}

.footer-item__footer-copyright {
    display: flex;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

.footer-item__footer-profile-button {
    display: flex;
    margin: auto;
}

.footer-profile-button__profile-button {
    width: 300px;
}

.footer-item__footer-sitemap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 80%;
    margin: auto 0 auto auto;
    border-left: 1px solid white;
}

.footer-sitemap__sitemap-link {
    display: flex;
    height: 50px;
    font-size: 18px;
    text-align: left;
}

.footer-sitemap__sitemap-link:hover {
    opacity: 0.5;
}

.footer-sitemap__sitemap-link::before {
    content: "";
    position: relative;
    top: 15px;
    height: 1px;
    width: 20px;
    border: 1px solid white;
}


@media (min-width: 1400px) {

    .telephone-number__text {
        font-size: 40px;
    }

    .social-bar__social-icon {
        font-size: 38px;
    }

    .menu-button__menu-link {
        font-size: 22px;
    }

    .title-container__text {
        font-size: 36px;
    }

    .main-container__main-photo-gallary {
        height: 1000px;
    }

    .main-photo-gallary__gallery-container {
        width: 1100px;
        height: 800px;
    }

    .gallery-container__gallery-button {
        height: 742px;
    }

    .footer-item__logo {
        width: 300px;
    }
}

@media (max-width: 1024px) {

    .main-container__main-content {
        height: 1300px;
    }

    .item-box__content {
        line-height: 22px;
    }

    .main-container__main-photo-gallary {
        flex-direction: column-reverse;
        height: 75vw;
    }

    .main-photo-gallary__gallery-container {
        width: 75%;
        height: 75%;
        margin: auto;
    }

    .gallery-container__gallery-button {
        height: 55.5vw;
    }

    .footer-container {
        flex-wrap: wrap;
        height: auto;
    }

    .footer-container__footer-item:first-child {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 250px;
    }

    .footer-item__logo {
        width: 200px;
    }

    .footer-item__footer-profile-button {
        width: 100%;
    }

    .footer-profile-button__profile-button {
        margin: auto;
    }

}

@media (max-width: 648px) {

    .logo-container__mgm-logo {
        width: 40%;
        height: 70px;
    }

    .logo-container__telephone-box {
        width: 40%;
    }

    .telephone-number__text {
        font-size: 18px;
    }

    .social-bar__social-icon {
        font-size: 26px;
    }

    .navigation-container__navigation-menu {
        position: fixed;
        visibility: hidden;
        top: -10px;
        left: -100%;
        flex-direction: column;
        width: 10%;
        height: 110%;
        background: rgba(0, 0, 0, 0.9);
        transition: 0.7s ease-in;
        z-index: 5;

    }

    .navigation-menu-active {
        width: 100%;
        left: 0;
        visibility: visible;
    }

    .navigation-container__menu-icon {
        display: flex;

    }

    .navigation-menu__close-button-container {
        position: relative;
        display: block;
        margin: 10px 10px 10px auto;
    }

    .close-button-container__close-button:before, .close-button-container__close-button::after {
        top: 0;
        background-color: white;
    }

    .navigation-menu__menu-button {
        height: 50px;
        width: 80%;
        margin: 30px auto;
    }

    .menu-button__menu-link {
        font-size: 20px;
    }

    .form-box__contactus-form {
        width: 96%;
    }

    .header-container {
        height: auto;
    }

    .main-content__content-container {
        width: 95%;
    }

    .content-container {
        flex-direction: column;
        height: 830px;
    }

    .content-container__description-box {
        width: 100%;
        height: 400px;
    }

    .description-title__title-text {
        font-size: 24px;
    }

    .description-title__text {
        font-size: 18px;
    }

    .description-box__profile-button {
        width: 250px;
    }

    .content-container__form-box {
        width: 100%;
        height: 430px;
    }

    .main-container__main-title {
        height: 100px;
    }

    .title-container__text {
        font-size: 18px;
    }

    .main-title__text {
        font-size: 24px;
    }

    .home-header .main-container__main-content {
        height: auto;
    }

    .main-content__content-item {
        width: 95%;
        margin: 10px auto;
        line-height: 22px;
    }

    .content-item__item-box {
      margin: 2px auto;
    }

    .item--title {
        font-size: 18px;
    }

    .block--vacancy {
        height: 11%;
    }

    .vacancy--box:nth-child(2) {
        height: 30%;
    }

    .block--demands {
        height: 12%;
    }

    .demands--box:nth-child(2) {
        height: 36%;
    }

    .block--providing {
        height: 28%;
    }

    .block--social {
        height: 15%;
    }

    .block--conditions {
        height: 16%;
    }

    .conditions--box {
        height: 20%;
    }

    .block--documents {
        height: 17%;
    }

    .documents--box:last-child {
        height: 17%;
    }

    .main-container__main-photo-gallary {
        height: 90vw;
    }

    .main-photo-gallary__gallery-container {
        width: 90%;
    }

    .gallery-container__gallery-button {
        height: 66vw;
    }

    .button-svg--parameters {
        width: 20px;
        height: 40px;
    }

    .gallery-title__text {
        font-size: 18px;
    }

    .footer-container {
        flex-direction: column;
        height: auto;
    }

    .footer-container__footer-item {
        width: 100%;
        height: 300px;
    }

    .footer-container__footer-item:first-child {
        flex-direction: column;
        height: 300px;
    }
}
